<div
	style='font-family: Arial, sans-serif; line-height: 1.6; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff;'
>
	<h2 style='color: #333;'>Message from user {{name}}!</h2>
	<p>Hello Tie Men admin,</p>
	<p>
		You have message from user, please check your chat room.
	</p>
	<p>
		user:
		{{name}}
	</p>
	<p>
		email:
		{{email}}
	</p>
</div>